# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# Environment variables
.env

# Vector database / embeddings
vectorstore/
*.bin
*.pkl

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db